<h1>Editing holiday</h1>

<%= render "form", holiday: @holiday %>

<br>

<div>
  <%= link_to "Show this holiday", @holiday, class: "btn btn-warning" %>
  <%= link_to "Back to holidays", holidays_path, class: "btn btn-danger" %>
</div>
