<div id="alert">
  <% if notice %>
    <div class="alert alert-success" role="alert" data-turbo-cache="false">
      <%= notice %>
    </div>
  <% end %>
</div>

<h1>Holidays</h1>

<%= turbo_frame_tag dom_id(Holiday.new) do %>
  <%= link_to "New holiday", new_holiday_path, class: "btn btn-primary mb-3" %>
<% end %>

<div id="holidays" class="d-flex flex-column gap-3">
  <%= render partial: @holidays %>
</div>
