<h1>New holiday</h1>

<%= turbo_frame_tag dom_id(@holiday), target: "_top" do %>
  <div class="card my-3">
    <div class="card-body">
      <%= render "form", holiday: @holiday %>
    </div>

    <div class="card-footer d-flex gap-3">
      <%= link_to "cancel", holidays_path, class: "btn btn-light back_btn" %>
    </div>
  </div>
<% end %>
