<h1>New school break</h1>

<%= turbo_frame_tag dom_id(@school_break), target: "_top" do %>
  <div class="card my-3">
    <div class="card-body">
      <%= render "form", school_break: @school_break %>
    </div>

    <div class="card-footer d-flex gap-3">
      <%= link_to "cancel", school_breaks_path, class: "btn btn-light back_btn" %>
    </div>
  </div>
<% end %>
