<h1 class="text-center"><%= t "home.title" %></h1>
<p class="text-center"><%= t "home.question" %><br><%= t "home.change_model_info" %></p>

<div class="d-flex flex-column gap-3 mx-auto align-items-center">
  <% Shift.all.each do |shift| %>
    <%= link_to t(shift, scope: "shift_model"), calendar_path(shift), class: "btn btn-primary" %>
  <% end %>
</div>
