name: Verify
on: [push]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: shift_calendar
          POSTGRES_DB: shift_calendar_test
          POSTGRES_PASSWORD: "pass"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn

      - name: Install packages
        run: |
          yarn install --pure-lockfile

      - name: Setup test database
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://shift_calendar:pass@localhost/shift_calendar_test
        run: |
          bin/rails db:setup

      - name: Build assets
        run: |
          yarn build
          yarn build:css

      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://shift_calendar:pass@localhost/shift_calendar_test
        run: bin/rails t
